<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>怡泉</title>
		<link href="{{ static_url }}pc/css/index.css" type=text/css rel=stylesheet>
	</head>
	<body>
		<div class="wx">
			<i><img src="{{ static_url }}pc/img/wx.jpg"/></i>
			<p>扫码创潮品</p>
		</div>
		<div class="img">
			<a href="pc-index.html"><img src="{{ static_url }}pc/img/logo.png"/></a>
			<img src="{{ static_url }}pc/img/index6.png"/>
		</div>
		<div class="footer">
			<a href="pc-news.html"><img src="{{ static_url }}pc/img/index1.png"/></a>
			<a href="pc-product.html"><img src="{{ static_url }}pc/img/index2.png"/></a>
			<a href="http://newboys.test.yoho.cn/activity/default/index"><img src="{{ static_url }}pc/img/index3.png"/></a>
		</div>
		<a class="ba" style=" position: fixed;right:30px; bottom: 10px; color:#000;font-size: 12px;">苏ICP备16007333号-1</a>
	</body>
</html>
