<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>怡泉</title>
		<link href="{{ static_url }}pc/css/product.css" type=text/css rel=stylesheet>
		<script src="{{ static_url }}pc/js/Jquery-min-1.12.js" ></script>
		<script src="{{ static_url }}pc/js/product.js" ></script>
	</head>
	<body>
		<div class="top">
			<em><img src="{{ static_url }}pc/img/new1.png"/></em>
			<a><img src="{{ static_url }}pc/img/logo.png"/></a>
			<i class="rule"><img src="{{ static_url }}pc/img/rule.png"/></i>
		</div>
		<div class="search">
			<div class="search_left">
				<span class="sp1 active"><img src="{{ static_url }}pc/img/rd.png"/></span><span><img src="{{ static_url }}pc/img/x.png"/></span><span class="sp2 "><img src="{{ static_url }}pc/img/sj.png"/></span>
			</div>
			<div class="search_right">
				<span class="search_tip"><img src="{{ static_url }}pc/img/bh.png"/></span>
				<input type="text" name="number" />
				<span class="but_search"><img src="{{ static_url }}pc/img/search.png"></span>
			</div>
		</div>
		
		<div class="products">
			<a class="but_left"><img src="{{ static_url }}pc/img/left.png"/></a>
			<div class="product_list">
				<ul class="ul_list">
				</ul>
			</div>
			<a class="but_right"><img src="{{ static_url }}pc/img/right.png"/></a>
		</div>
		
		<div class="footer">
			<a href="pc-news.html"><img src="{{ static_url }}pc/img/index1.png"/></a>
			<a href="pc-index.html"><img src="{{ static_url }}pc/img/index.png" style="width: 320px;"/></a>
			<a href="http://newboys.test.yoho.cn/activity/default/index"><img src="{{ static_url }}pc/img/index3.png"/></a>
		</div>
		
		<div class="wx">
			<i><img src="{{ static_url }}pc/img/wx.jpg"/></i>
			<p>扫码创潮品</p>
		</div>
		
		<!--弹框-->
		<div class="dialog1 none">
			<div class="dialog_wrap">
				<a class="close1"><img src="{{ static_url }}pc/img/close.png"/></a>
				<h1>活动规则</h1>
				<div class="wenzi">
					设计属于你的+Cháo T ,勇敢表达你的+C态度。<br/>
					1.设计完成后可凭作品码至怡泉+C活动现场领取你所设计的+Cháo T。（每人现场仅限打印2件）具体时间及场次详见+Cháo流资讯。<br/>
					2.得票最多的作品即可获得奖金1000元，并将作品生产出来在YOHO！上进行售卖。你就是下一个爆款设计的+Cháo流教主！<br/>
				</div>
			</div>
		</div>
		
		
		
		
		<!--弹框-->
		<div class="dialog none">
			<div class="dialog_wrap">
				<a class="close_a"><img src="{{ static_url }}pc/img/close.png"/></a>
				<em class="pro_img"><img src="{{ static_url }}pc/img/dyf.png"/></em>
				<ul class="pro_ulData">
					<li>编号：<span class="bh"></span></li>
					<li>票数：<span class="ps"></span></li>
					<li>尺码：<span class="cc"></span></li>
					<li>排行：<span class="ph"></span></li>
				</ul>
				<i class="tp_but"><img src="{{ static_url }}pc/img/xxx.png"/></i>
			</div>
		</div>
		<a class="ba" style=" position: fixed;right:30px; bottom: 10px; color:#000;font-size: 12px;">苏ICP备16007333号-1</a>
	</body>
</html>
