<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>登录成功</title>
		<link href="{{ static_url }}css/core.css" rel="stylesheet" type="text/css">
		<link href="{{ static_url }}css/index.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<section id="box">
			<i><img id="userDisplay" src=""/></i>
			<div class="info">
				<p>用户名:<span class="userName"></p>
				<p>手机号码：<span class="phone"></span></p>
				<p>地址：<span class="address"></span></p>
				<p>积分:<span class="jf"></span></p>
				<p>连续签到:<span class="day"></span></p>
				<p class="buts Sign">签到</p>
				<p class="buts signend none">已签到</p>
				<p class="buts logOff">注销登录</p>
			</div>
		</section>
	
		<script src="{{ static_url }}js/plugins/zepto.min.js"></script>
		<script src="{{ static_url }}js/plugins/zepto.cookie.min.js"></script>
		<script src="{{ static_url }}js/plugins/zepto.fx.min.js"></script>
		<script src="{{ static_url }}js/plugins/zepto.selector.min.js"></script>
		<script src="{{ static_url }}js/plugins/md5.js"></script>
		<script src="{{ static_url }}js/plugins/common.js"></script>
		<script src="{{ static_url }}js/app/index.js"></script>
	</body>
</html>
