<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>芬达首页</title>
		<link href="{{ static_url }}pc/css/public.css{{ weixin_debug }}" type=text/css rel=stylesheet>
		<link href="{{ static_url }}pc/css/index.css{{ weixin_debug }}" type=text/css rel=stylesheet>
		<script  src="{{ static_url }}pc/js/Jquery-min-1.12.js{{ weixin_debug }}"></script>
		<script src="{{ static_url }}pc/js/index.js{{ weixin_debug }}" ></script>
	</head>
	<body>
		<div id="index">
			<div class="index_wrap">
				<div class="top_left">
					<img src="{{ static_url }}pc/img/fenda.png">
				</div>
				<div class="renwu">
					<em class="em1"><img src="{{ static_url }}pc/img/ren3.png"/></em>
					<em class="em2"><img src="{{ static_url }}pc/img/ren2.png"/></em>
					<em class="em3"><img src="{{ static_url }}pc/img/ren1.png"/></em>
				</div>
				<div class="index_right">
					<em class="em1"><img src="{{ static_url }}pc/img/text1.png"/></em>
					<em class="em2"><img src="{{ static_url }}pc/img/index-1.png"/></em>
					<em class="em3"><img src="{{ static_url }}pc/img/index2.png"/></em>
					<div class="buts">
						<a class="buts_1">动漫包装创意绘画大赛</a>
						<a class="buts_2" href="http://318e668c6413.ih5.cn/idea/O8CRkMJ">然指数测试</a>
						<a class="buts_3">活动规则</a>
						<a class="buts_4" href="tidbits.html">燃爆花絮</a>
						<a class="buts_5" href="works.html">燃灌排行榜</a>
					</div>
				</div>
			</div>
		</div>
		<!--互动规则弹框-->
		<div class="dialog_wrap none">
			<div class="dialog">
				<a class="close_a"><img src="{{ static_url }}pc/img/close.png"/></a>
				<div class="content">
					<h1>活动规则</h1>
					<p>TFBOYS是北京时代峰峻文化艺术发展有限公司推出的少年偶像组合，由王俊凯、王源和易烊千玺3名成员组成，2013年8月6日正式出道，2013年10月18日发行出道EP《Heart梦·出发》[1-2]  。
2014年3月13日，TFBOYS发行单曲《魔法城堡》。4月15日，荣获第二届音悦V榜年度盛典“内地最具人气歌手奖”和“音悦直播人气歌手奖”[2]  。
TFBOYS是北京时代峰峻文化艺术发展有限公司推出的少年偶像组合，由王俊凯、王源和易烊千玺3名成员组成，2013年8月6日正式出道，2013年10月18日发行出道EP《Heart梦·出发》[1-2]  。
2014年3月13日，TFBOYS发行单曲《魔法城堡》。4月15日，荣获第二届音悦V榜年度盛典“内地最具人气歌手奖”和“音悦直播人气歌手奖”[2]  。
TFBOYS是北京时代峰峻文化艺术发展有限公司推出的少年偶像组合，由王俊凯、王源和易烊千玺3名成员组成，2013年8月6日正式出道，2013年10月18日发行出道EP《Heart梦·出发》[1-2]  。
2014年3月13日，TFBOYS发行单曲《魔法城堡》。4月15日，荣获第二届音悦V榜年度盛典“内地最具人气歌手奖”和“音悦直播人气歌手奖”[2]  。</p>
				</div>
			</div>
		</div>
		<!--首页浮层-->
		<div class="index_dialog none">
			<div class="index_dialogWrap">
				<a class="cz_a" href="make.html">点击创作</a>
				<a class="file_a" href="upload.html">点击上传</a>
				<a class="close_a1">关闭按钮</a>
			</div>
		</div>
	</body>
</html>
