<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>芬达-活动花絮</title>
		<link href="{{ static_url }}mobile/css/public.css{{ weixin_debug }}" type=text/css rel=stylesheet>
		<link href="{{ static_url }}mobile/css/tidbits_open.css{{ weixin_debug }}" type=text/css rel=stylesheet>
		<script type="text/javascript" src="{{ static_url }}mobile/js/Jquery-min-1.12.js{{ weixin_debug }}"></script>
		<script src="{{ static_url }}mobile/js/tidbit_data.js{{ weixin_debug }}" type="text/javascript"></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="{{ static_url }}mobile/js/wx-share.js"></script>
		<script src="{{ static_url }}mobile/js/tidbits_open.js{{ weixin_debug }}" type="text/javascript"></script>
	</head>
	<body>
		
		<header id="top_img">
			<img src="{{ static_url }}mobile/img/title2.png" />
		</header>
		<section id="main">
			<em id="data_img"><img src="{{ static_url }}mobile/img/hx/img-1-1.jpg"/></em>
			<p id="data_p">花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮花絮</p>
		</section>
		<a class="back_a" href="tidbits.html"><img src="{{ static_url }}mobile/img/fanhui.png"/></a>
		
		
	</body>
</html>
