<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>芬达-活动花絮</title>
		<link href="{{ static_url }}mobile/css/public.css{{ weixin_debug }}" type=text/css rel=stylesheet>
		<link href="{{ static_url }}mobile/css/idangerous.swiper.css{{ weixin_debug }}" type=text/css rel=stylesheet>
		<link href="{{ static_url }}mobile/css/tidbits.css{{ weixin_debug }}" type=text/css rel=stylesheet>
		<script type="text/javascript" src="{{ static_url }}mobile/js/Jquery-min-1.12.js{{ weixin_debug }}"></script>
		<script src="{{ static_url }}mobile/js/idangerous.swiper.min.js{{ weixin_debug }}"></script>
		<script src="{{ static_url }}mobile/js/tidbit_data.js{{ weixin_debug }}" type="text/javascript"></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="{{ static_url }}mobile/js/wx-share.js"></script>
		<script src="{{ static_url }}mobile/js/tidbits.js{{ weixin_debug }}" type="text/javascript"></script>
	</head>
	<body>
		
		<header id="top_img">
			<img src="{{ static_url }}mobile/img/title2.png" />
		</header>
		<section id="main">
			 <div class="device">
			 	 <!--<a class="arrow-left"><img src="{{ static_url }}mobile/img/left.png"/></a> 
			    <a class="arrow-right"><img src="{{ static_url }}mobile/img/right.png"/></a>-->
			    <div class="swiper-container" style="width:100%;height:90%; margin-bottom: 3%;">
			      <div class="swiper-wrapper" id="Sw">
			      	<!--<ul  class="swiper-slide singerUrl">
			      		<li>
			      			<em><img src="{{ static_url }}mobile/img/hx/img-1.png" /></em>
			      			<p>花絮花絮</p>
			      		</li>
			      		<li>
			      			<em><img src="{{ static_url }}mobile/img/hx/img-1.png" /></em>
			      			<p>花絮花絮</p>
			      		</li>
			      		<li>
			      			<em><img src="{{ static_url }}mobile/img/hx/img-1.png" /></em>
			      			<p>花絮花絮</p>
			      		</li>
			      		<li>
			      			<em><img src="{{ static_url }}mobile/img/hx/img-1.png" /></em>
			      			<p>花絮花絮</p>
			      		</li>
					</ul>-->
					
			      </div>
			    </div>
			     <div class="pagination"></div>
		  </div>
			
		</section>
		<a class="back_a" href="index.html"><img src="{{ static_url }}mobile/img/back1.png"/></a>
		
		
	</body>
</html>
