<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="js/app/fontSize.js" ></script>
		<script type="text/javascript" src="js/plugins/Jquery-min-1.12.js" ></script>
		<script type="text/javascript" src="js/plugins/angular.js" ></script>
		<script src="js/plugins/an-route.js"></script>
		<!--<script type="text/javascript" src="js/plugins/an-route.js" ></script>-->
		<script type="text/javascript" src="js/plugins/iscroll-probe.js" ></script>
		<script type="text/javascript" src="js/app/route.js" ></script>
		<script type="text/javascript" src="js/app/index.js" ></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="js/plugins/wx-share.js"></script>
		<title>体彩</title>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div id="logo">
			<i><img src="image/logo.png"/></i>
			<i><img src="image/logo1.png"/></i>
		</div>
		<section id="main_wrap">
			<div id="app">
				<div ng-view class="h_100"></div>
			</div>
			<footer id="main_footer">
				<a id="index_a" href="#/index"><span></span>首页</a>
				<a href="#/list"><span></span>排行榜</a>
				<a href="#/prize"><span></span>大乐透代金券<em id="price_new" class="none"></em></a>
				<a href="#/signUp"><span></span>线下报名</a>
				<a href="#/explain"><span></span>活动说明</a>
			</footer>
		</section>
		<div id="envelope1" >
			<div class="envelopebj"></div>
		</div>
		<div id="envelope">
			<div class="envelopeup"></div>
			<span id="Enve">返回首页</span>
		</div>
	</body>
</html>
