<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="js/app/fontSize.js" ></script>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/shareIndex.css" />
		<script type="text/javascript" src="js/plugins/Jquery-min-1.12.js" ></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="js/plugins/wx-share.js"></script>
		<script type="text/javascript" src="js/app/shareIndex.js" ></script>
		<title>体彩</title>
	</head>
	<body>
		
		<section id="index_top">
			<i class="index_bj"></i>
		</section>
		<section id="index_center">
			<div>
				<i></i>
				<p><span class="step">1111233</span>步</p>
				<p>您的好友已捐赠</p>
			</div>
			<div>
				<i></i>
				<p><span class="money">4</span>元</p>
				<p>TA的捐赠金额</p>
			</div>
		</section>
		<article id="scoll">
			
				<p>上传计步APP步数截图</p>
				<p>将日常行走的爱心步数转化成 </p>
				<p><span>“体彩爱心基金”</span>用于捐助</p>
				<p><span>“江苏体彩希望小学”</span>的孩子们   </p>
			
		</article>
		<a class="add" href="index.html"></a>
	</body>
</html>
