<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="js/app/fontSize.js" ></script>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/success.css" />
		<script type="text/javascript" src="js/plugins/zepto.min.js" ></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="js/plugins/wx-share.js"></script>
		<title>体彩</title>
	</head>
	<body>
		<i></i>
		<i></i>
		<article>
			<p>您本次的捐赠步数为</p>
			<p><span id="step">0</span>步</p>
		</article>
		<a href="index#/successIndex"></a>
		<script>
			var Step=document.getElementById('step');
			var dataStep=window.location.search.slice(1);
			dataStep=dataStep.split('&');
			for(var i=0;i<dataStep.length;i++){
				var step=dataStep[i].split('=');
				if(step[0]=='uploadStep'){
					Step.innerHTML=step[1];
				}
			}
		</script>
	</body>
</html>
