<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<script type="text/javascript" src="js/app/fontSize.js" ></script>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/upload.css" />
		<title>体彩</title>
		<script type="text/javascript" src="js/plugins/Jquery-min-1.12.js" ></script>
	    <script type="text/javascript" src="js/plugins/FabricCustom.js" ></script>
	    <script type="text/javascript" src="js/plugins/exif.js" ></script>
	    <script type="text/javascript" src="js/plugins/PhotoCanvas.js" ></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="js/plugins/wx-share.js"></script>
	    <script type="text/javascript" src="js/app/update.js" ></script>
	</head>
	<body>
		<div id="upload_top">
			<i></i>
		</div>
		<div class="file">
			<label class="label">
				<em><img src="image/1/3.png"></em>
				<input type="file" id="File"/>
			</label>
			<div class="box_img" id="box_canvas">
				<img src="image/jiazai.png" id="loadingImage" class="loadingIcon" style="width:10%;top:40%;left:40%;position:absolute;visibility: hidden">
				<canvas id="canvas" width="640" height="1236"></canvas>
			</div>
		</div>
		<div id="step">
			<i class="tishi"></i>
			<p>我的步数<input type="tel" placeholder="输入截图步数" id="step_but"/></p>
			<p>我的姓名<input type="text" placeholder="输入您的姓名" id="name_but"/></p>
			<p>手机号码<input type="tel" placeholder="输入联系方式" id="phone_but"/></p>
			<p id="Submit"></p>
		</div>
		<div id="uploadServer"  class="none">
			<i class="cancel"></i>
			<i class="upServer"></i>
		</div>
	</body>
</html>
