<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>怡泉</title>
		<link rel="stylesheet" href="{{ static_url }}mobile/css/reset.css{{ weixin_debug }}" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/dialog.css{{ weixin_debug }}" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/index.css{{ weixin_debug }}" />
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="{{ static_url }}mobile/js/plugins/wx-share.js"></script>
	</head>
	<body>
		
		<header id="wxindex_hd">
			<a href="wx-index2.html"><img src="{{ static_url }}mobile/img/wx_index1.png{{ weixin_debug }}" /></a>
		</header>
	</body>
</html>
