<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>怡泉</title>
		<link rel="stylesheet" href="{{ static_url }}mobile/css/reset.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/dialog.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/makeSuccess.css" />
	</head>
	<body>
		<header>
			<h1>小花的design</h1>
			<table class="tables">
				<tr>
					<td>编号：<span class="number">1</span></td>
					<td>票数：<span class="vote">10</span></td>
				</tr>
				<tr>
					<td>尺码：<span class="size">L</span></td>
					<td>排行：<span class="ranking">11</span></td>
				</tr>
			</table>
		</header>
		<section class="main_box myProduct_box">
			<a class="but_left"><img src="{{ static_url }}mobile/img/make12.png"/></a>
			<div class="product">
				<a class="img_a">
					<em class="em1"><img src="{{ static_url }}mobile/img/yifu/1.png"/></em>
					<em class="em2 vH"><img src="{{ static_url }}mobile/img/yifu/2.png"></em>
				</a>
			</div>
			<a class="but_right"><img src="{{ static_url }}mobile/img/make12.png"/></a>
		</section>
		<footer class="myProduct_footer">
			<p class="dym"></p>
			<p class="yzm_img"><img src="{{ static_url }}mobile/img/yzm.png"></p>
			<p class="buts myProduct">
				<a href="javascript :;" onClick="javascript :history.back(-1);"><img src="{{ static_url }}mobile/img/myProduct2.png"/></a>
				<a class="but1"><img src="{{ static_url }}mobile/img/myProduct1.png"/></a>
			</p>
		</footer>
		<em class="footer_logo"><img src="{{ static_url }}mobile/img/tidbits5.png"/></em>
	<script src="{{ static_url }}mobile/js/plugins/zepto.min.js"></script>
	<script src="{{ static_url }}mobile/js/plugins/zepto.fx.min.js"></script>
	<script src="{{ static_url }}mobile/js/plugins/common.js"></script>
	<script src="{{ static_url }}mobile/js/plugins/idangerous.swiper.min.js"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="{{ static_url }}mobile/js/plugins/wx-share.js"></script>	
	<script src="{{ static_url }}mobile/js/app/makeSuccess.js" type="text/javascript"></script>
	</body>
</html>
