<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>怡泉</title>
		<link rel="stylesheet" href="{{ static_url }}mobile/css/reset.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/dialog.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/nav.css" />
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="{{ static_url }}mobile/js/plugins/wx-share.js"></script>
	</head>
	<body>
		
		<section id="swipe2">
			<header id="logo2">
				<i><img src="{{ static_url }}mobile/img/mark7.png"/></i>
				<i><img src="{{ static_url }}mobile/img/mark6.png"/></i>
			</header>
			<section id="buts">
				<a href="wx-tidbits.html">潮流资讯</a>
				<a href="wx-activeIndex.html">设计</a>
				<a href="http://newboys.test.yoho.cn/activity/default/index">大搜索</a>
			</section>
		</section>
	</body>
</html>
