<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>怡泉</title>
		<link rel="stylesheet" href="{{ static_url }}mobile/css/reset.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/dialog.css" />
		<link rel="stylesheet" href="{{ static_url }}mobile/css/product.css" />
	</head>
	<body>
		<section id="box">
			<div class="buts">
				<i><img src="{{ static_url }}mobile/img/product1.png"/></i>
				<i><img src="{{ static_url }}mobile/img/product2.png"/></i>
			</div>
			<p class="box_top"><img src="{{ static_url }}mobile/img/product3.png"/></p>
			<div class="box_wrap">
				<ul class="box_ul">
					
				</ul>
				
			</div>
			<p class="box_bottom box_top"><img src="{{ static_url }}mobile/img/product3.png"/></p>
		</section>
		<a class="back_a" href="javascript:;" onClick="javascript :history.back(-1);"><img src="{{ static_url }}mobile/img/tidbits6.png"/></a>
	<script src="{{ static_url }}mobile/js/plugins/zepto.min.js"></script>
	<script src="{{ static_url }}mobile/js/plugins/zepto.fx.min.js"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="js/plugins/wx-share.js"></script>
	<script src="{{ static_url }}mobile/js/plugins/common.js"></script>
	<script src="{{ static_url }}mobile/js/app/product.js" type="text/javascript"></script>
	</body>
</html>
