<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, target-densitydpi=medium-dpi, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no" />
		<title>副文本编辑器</title>
		<link rel="stylesheet" href="{{ static_url }}pc/css/public.css" />
		<script type="text/javascript" src="{{ static_url }}pc/js/zepto.min.js" ></script>
		<script type="text/javascript" src="{{ static_url }}pc/js/getHt.js" ></script>
	</head>
	<body>
	</body>
</html>
