body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 { 
	font-family: 'Microsoft YaHei','宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
html{
	height: 100%;
}
a,a:focus {
	outline: 0 none;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ellipsis {
	white-space: nowrap;
	word-break: break-all;
	overflow: hidden;
}
.noscroll {
	overflow: hidden !important;
}
.none {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}
.hide {
	opacity: 0 !important;
}
.zlow {
	z-index: -1 !important;
}
.btn-red {
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #EE1B2E;
	border-radius: 30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
}
.btn-back {
    display: block;
    width: 66%;
    height: 50px;
    line-height: 50px;
    background: #EE1B2E;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 40px auto 20px;
}
.btn-back:hover {
	background: #cf1022;
}
.btn-back-simple {
    display: block;
    height: 43px;
    line-height: 43px;
    border-radius: 10px;
    color: #ff0000;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 18px auto 20px;
    background: none;
}
.btn-back-simple:hover {
    text-decoration: underline;
}

.btn-loadmore {
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 18px;
	display: block;
	border-radius: 30px;
	margin-top: 20px;
	text-align: center;
	margin: 20px auto 10px;
	border: 1px solid #D2CCC7;
	width: 66%;
	background: #EE1B2E;
}
.btn-loadmore:hover {
    background: #cf1022;
	
}
.btn-loadmore i {
	visibility: hidden;
}
.btn-loadmore.loading i {
	visibility: visible;
	display: inline-block;
	vertical-align: middle;
	background: url(http://yao.holdfun.cn/portal/resources/news/images/loading.png) no-repeat 0 -1px;
	background-size: 15px auto;
	width: 15px;
	height: 16px;
	margin-right: 6px;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes loading {
	0%   {-webkit-transform: rotate3d(0, 0, 1, 0deg);}
	100%   {-webkit-transform:rotate3d(0, 0, 1, 360deg);}
}

.share-box {
	width: 100%;
	height: 100%;
	position: fixed;
	background: url(../images/sharebg.png) no-repeat right 4px rgba(0,0,0,0.8);
	z-index: 9999999;
	background-size: 320px auto;
	top: 0;
	left: 0;
}

.spinner {
	position: absolute;
	max-width: 360px;
	margin: 0 auto;
	text-align: center;
	z-index: 1000;
}
.spinner .spinner-wrapper {
	width: 50px;
	height: 50px;
	position: relative;
	margin: 0 auto;
}
 
.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color: #ff3861;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
 
.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
 
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
	0%, 80%, 100% { 
    	transform: scale(0.0);
    	-webkit-transform: scale(0.0);
  	} 
  	40% { 
    	transform: scale(1.0);
    	-webkit-transform: scale(1.0);
  	}
}

.spinner-loading {
	height: 20px;
	width: 20px;
	margin: 0px auto;
	position: relative;
	-webkit-animation: loading-rotation 1s infinite linear;
	animation: loading-rotation 1s infinite linear;
	border-left: 4px solid rgba(243, 81, 114, 0.15);
	border-right: 4px solid rgba(243, 81, 114, 0.15);
	border-bottom: 4px solid rgba(243, 81, 114, 0.15);
	border-top: 4px solid rgba(239, 0, 48, 0.8);
	border-radius: 100%;
}

@-webkit-keyframes loading-rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@keyframes loading-rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
.copyright {
	position: absolute;
	bottom: 5px;
	z-index: 0;
	color: #000;
	font-size: 10px;
	opacity: 0.6;
	text-align: center;
	clear: both;
	width: 100%;
}
.btn {
	display: block;
	vertical-align: middle;
	width: 60%;
	height: 45px;
	line-height: 44px;
	border-radius: 38px;
	background: #FAA105;
	color: #fff;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
}
.btn.btn-disabled {
	background: #d8d8d8;
}
.btn-simple {
	background: none;
	border-radius: 38px;
	color: #f93838;
	font-size: 16px;
	text-align: center;
}
.btn-border {
	border:1px solid #f93838;
	background: none;
	color: #f93838;
}
.bg-white {
	background-color: #fff;
	border-radius: 5px;
	margin: 10px 6px;
}
.icon-sprites {
	display: inline-block;
	vertical-align: middle;
	background: url(../images/icons.png) no-repeat 0 0;
	background-size: 88px auto;
	width: 15px;
	height: 15px;
}
.zhufu {
	border: 1px solid #fff;
	color: #ffffff;
	background: transparent;
	margin: 0px auto 20px;
	height: 43px;
	line-height: 42px;
}

.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.tjdn{
	color:black !important;
	
}

#div_subscribe_area {
	height:50px;
	overflow:hidden;
}