<div id="explain">
	<div class="siguup_wrap">
		<i><img src="image/1/ico24.png" alt="" /></i>
		<article>
			<aside>
				<h3>一、活动时间：<span>11月21日 8:30-12:00</span></h3>
				<h3>二、地点及路线</h3>
				<p>南京紫金山。从白马公园起点出发，步行至半山腰的紫金山天文台，然后再折返至白马公园。</p>
				<h3>三、参与方式</h3>
				<p>本次线下活动参与者年龄段为18-60周岁，人数为100人，有意向参与线下活动者，可在官方微信活动平台相关页面报名，最终参与者将在活动前通过电话联系。</p>
				<h3>四、奖项设置</h3>
				<p>成功报名参加线下活动，并且按照线下活动规则完成行走路线的人员，可获得运动手环一个。</p>
				<h3>五、注意事项</h3>
				<p>具体细则以江苏体彩网实际公布为准。</p>
			</aside>
		</article>
	</div>
</div>
