<div id="list">
	<nav id="list_title">
		<p ng-class="Active?'active':''" ng-click='listBox1()'>我的排行<span class="list_date"  ng-show='result_code'>(第{{data.now_week}}周)</span></p>
		<p ng-click='listBox2()' ng-class="Active?'':'active'">我的步捐</p>
	</nav>
	<article class="art1" ng-show='Active'>
		<div id="wrapper">
			<aside>
				<ul>
					<li ng-show='result_code'>
						<span>{{data.my_rank}}</span>
						<span><img src="image/1/b1.png"/></span>
						<span>{{data.myCount.user}}</span>
						<span>{{data.myCount.walk}}<i>步</i></span>
					</li>
					<!--<li ng-repeat='datas in walkCount' ng-init="wrapIndex=$index">
						<span><em ng-if='$index>2'>{{$index+1}}</em> <img ng-if='$index<=2' ng-src="image/1/a{{$index+1}}.png"/></span>
						<span><img src="image/1/ren.png"/></span>
						<span>{{datas.user}}</span>
						<span>{{datas.walk}}<i>步</i></span>
					</li>-->
				</ul>
			</aside>
		</div>
		<div id="response">上拉加载</div>
		<div id="footer"></div>
	</article>
	
	<article class="art2" ng-hide='Active'>
		<nav>
			<p>时间</p>
			<p>步数</p>
			<p>排名</p>
		</nav>
		<aside>
			<div class="ul">
				<div class="ul_wrap" ng-repeat='weekList in week' ng-init='wrapIndex=$index+1'>
					<ol ng-hide='weekList==1'>
						<p>第{{weekList.weekCount}}周<span>(当周总步数{{weekList.myWalk}}步,总排名{{weekList.rank}}名)</span></p>
					</ol>
					<div class="li" ng-repeat='weekdata in day| filter:{weekMatch:wrapIndex}'>
						<p>{{weekdata.creatime}}<!--<span>11:35</span>--></p>
						<p>{{weekdata.walk}}<span>步</span></p>
						<p>{{weekdata.rank}}</p>
					</div>
				</div>
			</div>
		</aside>
	</article>
</div>
<div id="hy_diolag" ng-hide='usrprices'>
	<div class="diolag_wrap">
		<i><img src="image/1/logo.png"/></i>
		<p>恭喜 您获得了<span>XXXX</span></p>
		<p>每周前10名都有特别奖励哦</p>
		<div class="frome">
			<label>
				我的姓名<input type="text" ng-value="Name" ng-disabled="disAb" />
			</label>
			<label>
				手机号码<input type="tel" ng-value="Phone" ng-disabled="disAb"/>
			</label>
		</div>
		<p>请确认您的姓名和联系方式<br/>将会有专人联系您告知领奖方式</p>
		<i ng-click='Reset()'><img src="image/1/ico14.png"/></i>
		<i ng-click='Submit()'><img src="image/1/ico15.png"/></i>
	</div>
</div>

