*{
	margin: 0px;
	padding: 0px;
}
html,body{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
body{
	position: relative;
}
.OPacity{
	-webkit-filter: brightness(50%);
}
a{font-style: normal;
text-decoration: none;
 -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
li{
	font-style: normal;
	list-style: none;
}
body{
	font-size: 0.36rem;
}
#hy_diolag,#hy_diolag1{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	left:0px;
	top:0px;
	overflow: hidden;
	background-color: rgba(0,0,0,0.8);
	display:-webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	
}
.center{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0.2rem;
	display:-webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
/*步数弹框*/
.diolag_wrap{
	padding-top: 0.4rem;
	width: 5.37rem;
	height: 7.2rem;
	margin: auto;
	background-color: #fff;
	border-radius: 0.3rem;
}
.diolag_wrap i{
	display: block;
	margin:0rem auto 0.3rem;
	text-align: center;
	width: 2.15rem;
	
}
.diolag_wrap i img{
		width: 100%;
	}
.diolag_wrap p{
	text-align: center;
	font-weight: bold;
	color:#12C8E0;
	font-size: 0.32rem;
	margin-bottom: 0.2rem;
}
.diolag_wrap p:nth-of-type(3){
	font-size: 0.24rem;
	line-height: 0.4rem;
	color:#A0A0A0;
	font-weight: normal;
	font-family: "微软雅黑";
	margin-bottom: 0.4rem;
}
.diolag_wrap i:nth-of-type(2){
	width: 3.6rem;
	height: 0.7rem;
}
.diolag_wrap i:nth-of-type(3){
	width: 3.6rem;
	height: 0.7rem;
}
.diolag_wrap p span{
	font-size: 0.28rem;
}
.frome{
	width: 4rem;
	margin:0.4rem auto 0px;
}
.frome label{
	display: block;
	margin-bottom: 0.4rem;
	color:#1B1B1B;
}
.frome label input{
	margin-left:0.25rem;
	padding-left: 0.2rem;
	border:none;
	border-bottom: 1px solid #F3F3F4;
	background:none;
	color:#272822;
	width: 2.1rem;
}
.frome label input:disabled{
	color: #000;
}
/*奖品查看弹框*/

.prize_diolag{
	width: 5.27rem;
	height: 7.63rem;
	background-color: #fff;
	padding-top: 0.25rem;
}
.prize_diolag em:nth-of-type(1){
	display: block;
	width:2.73rem;
	margin:0px auto 0.1rem;
}
.prize_diolag em:nth-of-type(2){
	display: block;
	width:2.4rem;
	margin:0px auto 0.1rem;
}
.prize_diolag em:nth-of-type(3){
	display: block;
	width:3.6rem;
	margin: auto;
}
.prize_diolag em img{
	width: 100%;
}
.prize_diolag p:nth-of-type(1){
	margin-bottom: 0.1rem;
	text-align: center;
	font-size:0.36rem;
	color:#12CDDF ;
	font-weight:bold;
}
.prize_diolag p:nth-of-type(2){
	background-color: #F6F6F6;
	height: 1.14rem;
	padding-top: 0.2rem;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	color:#959595;
	font-size: 0.26rem;
	margin-bottom: 0.1rem;
}
.prize_diolag p:nth-of-type(2) span:nth-of-type(2){
	display: block;
	font-size: 0.3rem;
	color: #21B2EA;
	font-family: "微软雅黑";
}
.prize_diolag p:nth-of-type(3){
	text-align: center;
	line-height: 0.4rem;
	color:#959595;
	font-size: 0.26rem;
	margin-bottom: 0.2rem;
}

/*线下报名说明*/
.siguup_wrap{
	width: 5.7rem;
	height: 8.4rem;
	background-color: #fff;
	border-radius: 0.2rem;
}
.siguup_wrap i:nth-of-type(1){
	display: block;
	width:2.5rem;
	padding-top: 0.4rem;
	margin:0px auto 0.4rem;
}
.siguup_wrap i:nth-of-type(2){
	width: 3.6rem;
	display: block;
	margin: auto;
}
.siguup_wrap img{
	width: 100%;
}
.siguup_wrap article{
	width:5rem;
	height:5.7rem;
	margin:0px auto 0.3rem;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.siguup_wrap h3{
	color:#21B2EA;
	font-size: 0.3rem;
	margin-bottom: 0.16rem;
}
.siguup_wrap h3:nth-of-type(1){
	margin-bottom: 0.5rem;
}
.siguup_wrap h3 span{
	color:#313131;
	font-size: 0.24rem;
	font-weight: normal;
}
.siguup_wrap p{
	margin-bottom: 0.5rem;
	color:#313131;
	text-indent:0.48rem;
	line-height: 0.4rem;
	font-size: 0.24rem;
}

.submit_success{
	width:4.5rem;
	display: block;
}
.submit_success img{
	width: 100%;
}
.active{
	width: 100%;
	display: block;
	text-align: center;
}
.active img{
	width: 100%;
}
.none{
	display: none !important;
}
.close_diolag{
	display: block;
	margin:-0.5rem auto 0px;
	width: 0.89rem;
}
.close_diolag img{
	width: 100%;
}
.hy_scale{
	-webkit-animation: Scale 0.5s backwards;
}
.vote_bj{
	width: 5.54rem;
	height: 4.53rem;
	background-size: 100% 100%;
	padding-top: 1rem;
	box-sizing: border-box;
}
.vote_bj p{
	width: 4.4rem;
	margin: auto;
	overflow: hidden;
	text-align: center;
	line-height: 0.48rem;
	color:#1A296C;
	font-size: 0.3rem;
	margin-bottom:0.5rem ;
}
.vote_bj i{
	display: block;
	width: auto;
	margin-bottom: 0.1rem;
	text-align: center;
}
.vote_bj i img{
	width: 1rem;
}
.close1{
	margin: auto;
	display: block;
	width: 1.3rem;
	margin-top: 0.5rem;
}
.close1 img{
	width: 100%;
}
.vote_bj p a img{
	width: 100%;
}
.vote_bj p:nth-of-type(2) a:nth-of-type(1){
	display: block;
	width: 1.6rem;
	float: left;
	margin-left: 0.2rem;
}
.vote_bj p:nth-of-type(2) a:nth-of-type(2){
	display: block;
	width: 1.6rem;
	float: right;
	margin-right: 0.2rem;
}
.shakeimg{
	width: 5rem;
	position: absolute;
	right:10px;
	top:10px;
}
.shakeimg img{
	width: 100%;
}
#music_bj{
	z-index: 5;
	position: absolute;
	right:10px;
	top:10px;
	display: block;
	width: 0.5rem;
}
#music_bj img{
	width: 100%;
}
@-webkit-keyframe Scale{
	0%{
		-webkit-transform: scale(0.5);
	}
	50%{
		-webkit-transform: scale(0.8);
	}
	100%{
		-webkit-transform: scale(1);
	}
}


/*下拉刷新样式*/

#wrapper{
    position: absolute;
    top:0.8rem;
    left:0px;
    bottom: 1rem;
    overflow: hidden;
    width: 100%;
}
#response{
    z-index: 2;
    width: 100%;
     position:absolute;
    left:0px;
    bottom:1.2rem;
    height: 0.3rem;
    font-size: 0.24rem;
    line-height: 0.3rem;
    text-align: center;
    color:darkgray;
    opacity: 0;
}