body{
	background: url(../image/di.png) no-repeat bottom;background-size: 100%;
	font-size: 0.4rem;
	padding-top: 1.1rem;
	box-sizing: border-box;
}
i{
	display: block;
	margin: auto;
}
i:first-child{
	 width: 2.8rem;
	 height: 2.17rem;
	 margin-bottom: 0.8rem;
	 background: url(../image/1/7.png) no-repeat center;
	 background-size: contain;
}
i:nth-of-type(2){
	 width: 3.06rem;
	 height: 1.04rem;
	  margin-bottom: 0.8rem;
	 background: url(../image/1/8.png) no-repeat;
	 background-size: contain;
}
article{
	width:100%;
	height:1.5rem;
	background-color:#EEEEEE;
	padding-top: 0.35rem;
	box-sizing: border-box;
	text-align: center;
	color:#959595;
	font-size: 0.25rem;
	margin-bottom: 0.7rem;
}
article p{
	margin-bottom: 0.1rem;
}
article p span{
	color:#12C4E2;
	font-size: 0.36rem;
	font-family:"微软雅黑";
}
a{
	display: block;
	margin: auto;
	width: 3.59rem;
	height: 0.7rem;
	background: url(../image/1/9.png) no-repeat;
	background-size: contain;
}
