body{
	background: url(../img/index_bj.jpg) no-repeat center top;
	background-size:100% 100%;
	overflow: hidden;
	max-width: 640px;
	margin: auto;
	overflow-y: auto;
	width: 100%;
}
#logo{
	width:20%;
	margin-left: 2%;
	padding: 4%;
}
@keyframes fangda{
	0%{
		transform: scale(1.1) rotate(5deg);
	}
	
	10%{
		transform: scale(1) rotate(0deg);
	}
	
	20%{
		transform: scale(0.9) rotate(-5deg);
	}
	
	50%{
		transform: scale(1) rotate(0deg);
	}
	
	100%{
		transform: scale(1) rotate(0deg);
	}
}
#logo img{
	width: 100%;
	animation:fangda 1s infinite alternate linear;
}
#index_info{
	position: absolute;
	right:0px;
	top:5%;
	width: 80%;
	overflow: hidden;
	text-align: center;
}
#index_info aside:nth-of-type(1) img{
	width: 90%;
}
#index_info aside:nth-of-type(2){
	margin-top: -3%;
}
#index_info aside:nth-of-type(2) img{
	width: 70%;
}
#index_center{
	position: absolute;
	top:20%;
	left:0px;
	width:100%;
	height: 80%;
	overflow: hidden;
}
#index_center em{
	display: block;
	position: absolute;
	
	bottom:0px;
}
#index_center em:nth-of-type(1){
	width: 45%;
	left:-3%;
	animation: Left 1s forwards;
}
#index_center em:nth-of-type(2){
	width: 60%;
	left:50%;
	margin-left: -25%;
	z-index: 5;
	animation: Center 1s forwards;
}
#index_center em:nth-of-type(3){
	width: 50%;
	right:-3%;
	animation: Right 1s forwards;
}

@keyframes Left{
	0%{
		transform: translateX(-300px);
	}
	100%{
		transform: translateX(0px);
	}
}
@keyframes Right{
	0%{
		transform: translateX(300px);
	}
	100%{
		transform: translateX(0px);
	}
}
@keyframes Center{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
#index_center em img{
	width: 100%;
}

#index_footer{
	overflow: hidden;
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 10px;
	left:0px;
	top:60%;
	animation: Opacity 0.5s 1s backwards;
}
@keyframes Opacity{
	0%{
		transform: scale(2);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
#index_footer a{
	display: block;
	position: absolute;
}
#index_footer a img{
	width: 100%;
}
#index_footer a:nth-of-type(1){
	left:28%;
	top:35%;
	width: 45%;
}
#index_footer a:nth-of-type(2){
	left:4%;
	top:21%;
	width: 29%;
	z-index: 11;
}
#index_footer a:nth-of-type(3){
	left:66%;
	top:69%;
	width: 20%;
	z-index:11;
}
#index_footer a:nth-of-type(4){
	left:77%;
	top:44%;
	width: 22%;
	z-index:11;
}#index_footer a:nth-of-type(5){
	left:67%;
	top:18%;
	width: 22%;
	z-index:11;
}

/*弹框*/
.dialog_wrap,.index_dialog{
	overflow: hidden;
	position: fixed;
	left:0px;
	top:0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	
}
.div_wrap{
	width: 100%;
	height: 100%;
	display: box;
	box-pack:center;
	box-align: center;
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
}
.dialog{
	
	background: url(../img/dialog_border.png)  no-repeat center #fdf3db;
	background-size: 100% 100%;
	border-radius: 40px;
	width: 86%;
	height: 90%;
	margin: auto;
	
}
.close_a{
	width: 45%;
	margin: 0px auto;
	display: block;
	text-align: center;
}.close_a img{
	width: 100%;
}
.content{
	width: 90%;
	height: 85%;
	margin: 6% 5% 0%;
	box-sizing: border-box;
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	
	color:#f39800;
}
.content h1{
	font-size: 18px;
	padding: 3% 0px;
	text-align: center;
	color:#de7843
}
.content p{
	line-height: 24px;
	font-size: 12px;
}
.active{
	animation: active 0.5s backwards;
}
@keyframes active{
	0%{
		transform: scale(0.9);
	}
	50%{
		transform: scale(1.05);
	}
	100%{
		transform: scale(1);
	}
}
.index_dialogWrap{
	position: relative;
	margin: 0px auto;
	width: 90%;
	height: 28%;
	background: url(../img/dialog_img.png) no-repeat center top;
	background-size: 100% 100%;
}
.index_dialogWrap a{
	text-indent: -9999px;
	display: block;
	position: absolute;
}
.cz_a{
	width:27%;
	height: 24%;
	left:13%;
	bottom:7%;
}
.file_a{
	width:29%;
	height: 24%;
	right:8%;
	bottom:15%;
}
.close_a1{
	width:8%;
	height: 20%;
	right:0px;
	top:21%;
}





/*适配4s*/
@media screen
and (min-device-width : 320px)
and (max-device-height : 500px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	
	#index_info aside:nth-of-type(1) img{
		width: 70%;
	}
	
	#index_info aside:nth-of-type(2) img{
		width: 50%;
	}
	
	
	
	#index_footer a:nth-of-type(1){
		top:27%;
	}
	#index_footer a:nth-of-type(2){
		top:13%;
	}
	#index_footer a:nth-of-type(3){
		top:63%;
	}
	#index_footer a:nth-of-type(4){
		top:36%;
	}#index_footer a:nth-of-type(5){
		top:7%;
	}
	.close_a{
	width: 35%;
	}	
	
}
@media screen
and (min-device-width : 700px)
and (max-device-height : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	#index_footer{
		top: 59%;
	}
	.content p {
	    line-height: 30px;
	    font-size: 20px;
	}
	.dialog {
    	border-radius: 63px;
	}
	.content h1 {
    	font-size: 28px;
    }
	
}










